/* class */
/* section one nav bar */
.section1{
  padding-top: 20px;
  padding-bottom: 20px;
}

.button1{
  padding-left: 10px;
  padding-right: 10px ;
  padding-top: 10px;
  padding-bottom:10px ;
}


/* section 2 body one */
 .bodyoneimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 60px;
  padding-bottom:60px;
 }

 .bodyoneh1{
  padding-top:10px;
  padding-bottom:20px;
 }



 .section2{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left:20px ;
  padding-right:20px;
 }

 /* section3 */
 .section3img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
 }

 /* section4 */
 .section4{
  padding-top: 130px;
  padding-bottom: 20px;
  background-color: lightblue;
 }
 
.section4h1{
  color: white;
}

.section4h5{
  color: white;
  padding-left:150px ;
  padding-right: 150px;
  padding-bottom: 30px;
}

/* section5 */
.section5div{
  display: grid;
}

.section5{
  padding-top: 80px;
 }

 .p1{
  padding-top: 50px;
 }
.p2{
  padding-bottom: 30px;
}
.p3{
  padding-bottom: 30px;
}
.p4{
  margin-bottom: 7px;
}
.p5{
  margin-bottom: 3px;
}
.p6{
  margin-bottom: 0px;
}
.p7{
  padding-bottom: 50px; 
}

/* section6 */
.section6{
  padding-top:170px;
  padding-bottom:170px;
  padding-left:50px;
  padding-right:50px;
}
.section6link{
  padding-top: 50px;
}
.section6h1{
  padding-left:200px;
  padding-right:200px;
}

/* section7 */
.section7{
  padding-top:150px ;
  padding-bottom:150px ;
  padding-left: 80px;
  padding-right: 80px; 
}
/* .section7dv{
  
} */
.section7h1{
  padding-left:200px;
  padding-right:200px;
  
}

/* section8 */
.section8{
  padding-top:200px ;
  padding-bottom: 100px ;
  padding-left: 210px; 
  padding-right: 210px;
}

/* section9 */
.section9{
  background-color: lightblue;
  padding-bottom: 80px;
}
.carousel{
  padding-left:250px ;
  padding-right:250px ;
  padding-bottom: 100px;
}

.carousel-indicators{
  top: 450px;
}


/* ids  */
 section{
  text-align: center;
 }

 
